* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

<!-- definire tramite una classe il modello di box da utilizzare sia in verticale che in orrizontale-->

<!-- definizione modello quadrato con proprietà float -->

<!-- definizione modello ul per footer -->
